@charset "UTF-8";
/* Imagen Index */
.imagenIndex {
  width: 100%;
  height: 90vh;
  object-fit: cover; }

.tamanos {
  width: 100%; }

.cardTamanos {
  width: 30%;
  display: flex;
  margin: 2%;
  border-radius: 5%;
  -webkit-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15); }
  .cardTamanos .imagenGrande {
    width: 50%; }
    .cardTamanos .imagenGrande img {
      width: 100%;
      border-radius: 7px 0px 0px 7px; }
  .cardTamanos .descripcionGrande {
    width: 50%;
    border-radius: 0 7px 10px 7px;
    background-color: #ffffff; }
    .cardTamanos .descripcionGrande h2 {
      margin: 0 0 0 38px;
      padding-top: 25px;
      font-size: 32px;
      color: #474747; }
    .cardTamanos .descripcionGrande p {
      height: 125px;
      margin: 0 0 0 38px;
      font-family: 'Playfair Display', serif;
      color: #8d8d8d;
      line-height: 1.7em;
      font-size: 15px;
      font-weight: lighter;
      overflow: hidden; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

/* Barra de navegación */
.logo {
  width: 100%; }

.contenedorLogo {
  width: 20%; }

.botones {
  width: 65%; }

.enlace {
  color: black; }

.barra {
  box-shadow: 0 2px 3px -3px #8f8f8f;
  padding-bottom: 0 !important; }
