@charset "UTF-8";
/* Imagen Index */
.imagenIndex {
  width: 100%;
  height: 70vh;
  object-fit: cover; }

body {
  margin: 0;
  font-family: Nunito Sans; }

h3 {
  text-align: center;
  font-size: 24px;
  margin: 0;
  padding-top: 10px; }

a {
  text-decoration: none; }

.content {
  width: 20%;
  margin: 15px;
  box-sizing: border-box;
  float: left;
  text-align: center;
  border-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding-top: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: .4s; }

.content:hover {
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
  transform: translate(0px, -8px);
  transition: .6s; }

.cards img {
  width: 100px;
  height: 150px;
  text-align: center;
  margin: 0 auto;
  display: block;
  object-fit: cover; }

p {
  text-align: center;
  color: #b2bec3;
  padding: 0 8px; }

h6 {
  font-size: 20px;
  text-align: center;
  color: #222f3e;
  margin: 0; }

button {
  text-align: center;
  font-size: 20px;
  color: #fff;
  width: 100%;
  padding: 15px;
  border: 0px;
  outline: none;
  cursor: pointer;
  margin-top: 5px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px; }

button:hover {
  background-color: #83C5BE; }

.buy-1 {
  background-color: #006D77; }

@media (max-width: 1000px) {
  .content {
    width: 46%; } }

@media (max-width: 750px) {
  .content {
    width: 100%; } }

main {
  display: flex;
  flex-direction: column; }
  main h2 {
    display: block; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

/* Barra de navegación */
body {
  width: 100%; }

.logo {
  width: 100%; }

.contenedorLogo {
  width: 20%; }

.navbar-light .navbar-nav .nav-link {
  color: white;
  font-size: larger; }

.navbar-light .navbar-nav .nav-link:hover {
  color: #006D77; }

.barra {
  box-shadow: 0 2px 3px -3px #8f8f8f;
  padding-bottom: 0 !important;
  background-color: #83C5BE; }
