@charset "UTF-8";
/* Cards */
body {
  margin: 0;
  font-family: Nunito Sans; }

h3 {
  text-align: center;
  font-size: 24px;
  margin: 0;
  padding-top: 10px; }

a {
  text-decoration: none; }

.content {
  width: 20%;
  margin: 15px;
  box-sizing: border-box;
  float: left;
  text-align: center;
  border-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding-top: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: .4s; }

.content:hover {
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
  transform: translate(0px, -8px);
  transition: .6s;
  z-index: 1; }

.cards img {
  width: 100px;
  height: 150px;
  text-align: center;
  margin: 0 auto;
  display: block;
  object-fit: cover; }

p {
  text-align: center;
  color: #b2bec3;
  padding: 0 8px; }

h6 {
  font-size: 20px;
  text-align: center;
  color: #222f3e;
  margin: 0; }

.button {
  text-align: center;
  font-size: 20px;
  color: #fff;
  width: 100%;
  padding: 15px;
  border: 0px;
  outline: none;
  cursor: pointer;
  margin-top: 5px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px; }

.button:hover {
  background-color: #83C5BE; }

.buy-1 {
  background-color: #006D77; }

@media (max-width: 1000px) {
  .content {
    width: 46%; } }

@media (max-width: 750px) {
  .content {
    width: 100%; } }

main {
  display: flex;
  flex-direction: column; }
  main h2 {
    display: block; }

.contenedorModal {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .5s;
  opacity: 0;
  visibility: hidden; }
  .contenedorModal .modalCarrito {
    width: 50%;
    margin: 15px;
    box-sizing: border-box;
    text-align: center;
    border-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-top: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: .4s;
    background-color: white; }
    .contenedorModal .modalCarrito .informacion {
      display: flex;
      justify-content: space-around; }
      .contenedorModal .modalCarrito .informacion img {
        width: 100px;
        height: 150px;
        text-align: center;
        display: flex;
        justify-content: left;
        object-fit: cover;
        margin-top: 5%; }
      .contenedorModal .modalCarrito .informacion .datos {
        display: flex;
        flex-direction: column;
        width: 40; }
        .contenedorModal .modalCarrito .informacion .datos .titulos {
          display: flex;
          justify-content: space-around;
          height: fit-content; }
        .contenedorModal .modalCarrito .informacion .datos .productosContenedor {
          display: flex;
          flex-direction: column;
          align-content: space-around; }
          .contenedorModal .modalCarrito .informacion .datos .productosContenedor .modalProducto {
            display: flex;
            justify-content: space-around;
            align-content: space-around;
            align-items: baseline;
            width: fit-content; }
            .contenedorModal .modalCarrito .informacion .datos .productosContenedor .modalProducto h4 {
              font-size: 1em;
              width: 15vw; }
            .contenedorModal .modalCarrito .informacion .datos .productosContenedor .modalProducto .botonEliminar {
              width: 2.5vw;
              height: 2.5vh;
              display: flex;
              align-items: center;
              justify-content: center;
              border-radius: 5%;
              margin: 2%;
              background-color: #e9e6e6; }
            .contenedorModal .modalCarrito .informacion .datos .productosContenedor .modalProducto .botonEliminar:hover {
              background-color: #83C5BE; }
        .contenedorModal .modalCarrito .informacion .datos .total {
          display: flex;
          justify-content: flex-end;
          align-items: baseline;
          margin-bottom: 2%; }
          .contenedorModal .modalCarrito .informacion .datos .total .botonFinalizar {
            width: fit-content;
            background-color: #006D77;
            color: white; }
          .contenedorModal .modalCarrito .informacion .datos .total .botonFinalizar:hover {
            background-color: #83C5BE;
            transform: scale(1.05); }
          .contenedorModal .modalCarrito .informacion .datos .total h4 {
            padding: 2%; }
          .contenedorModal .modalCarrito .informacion .datos .total .vaciarCarrito {
            width: 50%;
            display: flex;
            justify-content: flex-start;
            align-items: center; }
            .contenedorModal .modalCarrito .informacion .datos .total .vaciarCarrito .botonVaciar {
              background-color: #83C5BE;
              color: white;
              font-size: .9em;
              margin-left: 15%;
              margin-top: 5%; }
    .contenedorModal .modalCarrito .tituloModal {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 2%; }
      .contenedorModal .modalCarrito .tituloModal .botonCerrar {
        width: 2.5vw;
        height: 2.5vh;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 5%; }

.modalActive {
  opacity: 1;
  visibility: visible; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

/* Barra de navegación */
body {
  width: 100%; }

.logo {
  height: 12vh;
  object-fit: contain; }

.contenedorLogo {
  width: 20%; }

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  background: white;
  z-index: 2; }

.navbar-light .navbar-nav .nav-link {
  color: white;
  font-size: larger; }

.navbar-light .navbar-nav .nav-link:hover {
  color: #006D77; }

.barra {
  box-shadow: 0 2px 3px -3px #8f8f8f;
  padding-bottom: 0 !important;
  background-color: #83C5BE; }

.navbar-nav {
  display: flex;
  align-items: center; }
  .navbar-nav li {
    display: flex;
    align-items: center; }
    .navbar-nav li p {
      color: white;
      margin-bottom: 0; }
    .navbar-nav li .imagenCarrito {
      display: flex;
      justify-content: flex-end;
      width: 4vh;
      height: 4vh; }

.imagenIndex {
  width: 100%;
  height: 70vh;
  object-fit: cover;
  margin-top: 5%; }
