.contenedorModal {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .5s;
    opacity: 0;
    visibility: hidden;
    .modalCarrito {
        width: 50%;
        margin: 15px;
        box-sizing: border-box;
        text-align: center;
        border-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        padding-top: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        transition: .4s;
        background-color: white;
        .informacion {
            display: flex;
            justify-content: space-around;
            img {
                width: 100px;
                height: 150px;
                text-align: center;
                display: flex;
                justify-content: left;
                object-fit: cover;
                margin-top: 5%;
            }
            .datos {
                display: flex;
                flex-direction: column;
                width: 40;
                .titulos {
                    display: flex;
                    justify-content: space-around;
                    height: fit-content;
                }
                .productosContenedor {
                    display: flex;
                    flex-direction: column;
                    align-content: space-around;
                    .modalProducto {
                        display: flex;
                        justify-content: space-around;
                        align-content: space-around;
                        width: fit-content;
                        h4 {
                            font-size: 1em;
                            width: 15vw;
                        }
                    }
                }
                .total {
                    display: flex;
                    justify-content: flex-end;
                    margin-bottom: 2%;
                    .botonFinalizar {
                        width: fit-content;
                        background-color: #83C5BE;
                        color: white;
                    }
                }
            }
        }
        .tituloModal {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 2%;
            .botonCerrar {
                width: 5%;
                border-radius: 5%;
            }
        }    
    }
}

.modalActive {
    opacity: 1;
    visibility: visible;
}